{% extends "landing_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-welcomepage{% endblock %}

	{% block content %}
    <nav class="main-banner">
				{% with settings=settings.home.SiteStyleSettings.style %}
				{% for block in settings %}
					{% for subject in page.pages %}
						{% if subject.value.title == block.value.site.title %}
						{% image block.value.site_image.image fill-1000x500 as banner_image %}
		        <a class="site-subject-area {{ block.value.site.title }}" href="{{ block.value.site.url }}" style="background: linear-gradient(to bottom, rgba({{ block.value.site_colour }},0.6), rgba({{ block.value.site_colour }}, 0.6)), url({{ banner_image.url }}); background-size: 100% 100%;">
		          <h1>{{ block.value.site.title }}</h1>
		          <div class="horizontal-line"></div>
		            <div class="hidden-overview">
		              {{ block.value.site_blurb }}
		            </div>
		        </a>
						{% endif %}
	        {% endfor %}  {% endfor %}{% endwith %}
        <a class="main-title" href="{{ center_field.value.url }}#main">
          <h1>{{ page.title }}</h1>
        </a>
    </nav>

    <main id="main">
      <content class="content">
      {% with blocks=page.about %}
        {% for block in blocks %}
          {% if block.block_type == 'paragraph_text' %}
            <div class="paragraph-text">
              {{ block.value }}
            </div>
          {% elif block.block_type == 'video' %}
            <div class="video">
              {{ block.value }}
            </div>
          {% elif block.block_type == 'image' %}
          <div class="image-block">
            {% image block.value.image original class="image-block" %}
          </div>
            #{% image block.value.image original class="image-block" %}
          {% else %}
            {% include_block block %}
          {% endif %}
        {% endfor %}
      {% endwith %}
      </content>
    </main>

    <footer>
      {% block footer %}
      <div class="general-site-footer footer-links">
        <ul>
        {% for block in settings.home.SiteFooterSettings.left_column %}
          {% if block.block_type == 'external_link_block' %}
            <li><a href="{{block.value.external_link}}">{{block.value.link_text}}</a></li>
          {% elif block.block_type == 'internal_link_block' %}
            <li><a href="{{block.value.internal_link.url}}">{{block.value.link_text}}</a></li>
          {% else %}
          <li>{% include_block block %}</li>
          {% endif %}
        {% endfor %}
      </ul>
      </div>

			<div class="subject-area-footer footer-links">
				<ul>
					{% for block in settings.home.SiteFooterSettings.middle_column %}
						{% if block.block_type == 'external_link_block' %}
							<li><a href="{{block.value.external_link}}">{{block.value.link_text}}</a></li>
						{% elif block.block_type == 'internal_link_block' %}
							<li><a href="{{block.value.internal_link.url}}">{{block.value.link_text}}</a></li>
						{% else %}
						<li>{% include_block block %}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="page-specific-footer footer-links">
				<ul>
					{% for block in settings.home.SiteFooterSettings.right_column %}
						{% if block.block_type == 'external_link_block' %}
							<li><a href="{{block.value.external_link}}">{{block.value.link_text}}</a></li>
						{% elif block.block_type == 'internal_link_block' %}
							<li><a href="{{block.value.internal_link.url}}">{{block.value.link_text}}</a></li>
						{% else %}
							<li>{% include_block block %}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="footer-social footer-links">
				<ul>
					{% if settings.home.SocialMediaSettings.twitter != "" %}
						<li class="footer-social">
							<a href="https://twitter.com/{{ settings.home.SocialMediaSettings.twitter }}">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-twitter" width="26" height="28" viewBox="0 0 26 28" aria-label="Twitter" role="img" focusable="false">
								<title>Twitter</title>
								<path d="M25.312 6.375a10.85 10.85 0 0 1-2.531 2.609c.016.219.016.438.016.656 0 6.672-5.078 14.359-14.359 14.359-2.859 0-5.516-.828-7.75-2.266.406.047.797.063 1.219.063 2.359 0 4.531-.797 6.266-2.156a5.056 5.056 0 0 1-4.719-3.5c.313.047.625.078.953.078.453 0 .906-.063 1.328-.172a5.048 5.048 0 0 1-4.047-4.953v-.063a5.093 5.093 0 0 0 2.281.641 5.044 5.044 0 0 1-2.25-4.203c0-.938.25-1.797.688-2.547a14.344 14.344 0 0 0 10.406 5.281 5.708 5.708 0 0 1-.125-1.156 5.045 5.045 0 0 1 5.047-5.047 5.03 5.03 0 0 1 3.687 1.594 9.943 9.943 0 0 0 3.203-1.219 5.032 5.032 0 0 1-2.219 2.781c1.016-.109 2-.391 2.906-.781z"></path>
								</svg>
							</a>
						</li>
					{% endif %}
					{% if settings.home.SocialMediaSettings.facebook != "" %}
					<li class="footer-social">
						<a href="{{ settings.home.SocialMediaSettings.facebook }}">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-facebook" width="16" height="28" viewBox="0 0 16 28" aria-label="Facebook" role="img" focusable="false">
							<title>Facebook</title>
							<path d="M14.984.187v4.125h-2.453c-1.922 0-2.281.922-2.281 2.25v2.953h4.578l-.609 4.625H10.25v11.859H5.469V14.14H1.485V9.515h3.984V6.109C5.469 2.156 7.891 0 11.422 0c1.687 0 3.141.125 3.563.187z"></path>
							</svg>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
			{% endblock %}
		</footer>
  {% endblock %}

  {% block extra_js %}
  <script type="text/javascript">
$(document).ready(function(){
  $('#main').addClass("hide");
  $('footer').addClass("hide");

  $('.main-title').click(function() {

    if ($('#main').hasClass("hide")) {
      $('#main').removeClass("hide").addClass("visible-main");

    } else {
      $('#main').removeClass("visible-main").addClass("hide");
    }

    if ($('footer').hasClass("hide")) {
      $('footer').removeClass("hide").addClass("visible-footer");

    } else {
      $('footer').removeClass("visible-footer").addClass("hide");
    }
  });
});
</script>
  {% endblock %}
