{% load wagtailcore_tags wagtailimages_tags %}

<!-- make columns in a row -->
<div class="three-column-block">
  <article class="column-block-content">
  {% image value.first_column.image fill-200x200 class="column-image" %}
    <div class="preview-text">
      <h2>{{ value.first_column.title }}</h2>
      <p clas="rich-text-body-content"> {{ value.first_column.text }} </p>
    </div>
  </article>
  <article class="column-block-content">
  {% image value.second_column.image fill-200x200 class="column-image" %}
    <div class="preview-text">
      <h2>{{ value.second_column.title }}</h2>
      <p class="rich-text-body-content"> {{ value.second_column.text }} </p>
    </div>
  </article>
  <article class="column-block-content">
    {% image value.third_column.image fill-200x200 class="column-image" %}
    <div class="preview-text">
      <h2>{{ value.third_column.title }}</h2>
      <p class="rich-text-body-content"> {{ value.third_column.text }} </p>
    </div>
  </article>
</div>
